<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= foundMovie.title %></title> 
  </head>
  <body>
		<h1><%= foundMovie.title %></h1>

    <img src="<%=foundMovie.image.url %>" alt="img">

		<p><strong>Description:</strong><%= foundMovie.description %></p>

		<p><strong>price:</strong>$<%= foundMovie.price %></p>

		<p><strong>Phone:</strong> <%= foundMovie.phoneNumber %></p>

    <a href="/movies">
      <div>Back to All Movies</div>
    </a>
		
    <div class="actions">
        <form  action="/movies/<%=foundMovie._id%>?_method=DELETE" method="POST">
          <button type="submit">Delete <%= foundMovie.title %></button>
        </form>

        <a href="/movies/<%=foundMovie._id%>/edit">Edit <%=foundMovie.title %></a>
        
    </div>
</html>